@font-face {
  font-family: "GloriolaStd";
  src: url(fonts/gloriola_std_regular-webfont.eot);
  src: url(fonts/gloriola_std_regular-webfont.eot?#iefix) format('embedded-opentype'),
  url(fonts/gloriola_std_regular-webfont.woff) format('woff'),
  url(fonts/gloriola_std_regular-webfont.ttf) format('truetype'),
  url(fonts/gloriola_std_regular-webfont.svg) format('svg');
}
@font-face {
  font-family: "Gloriolthin";
  src: url(fonts/gloriola_display_thin-webfont.eot);
  src: url(fonts/gloriola_display_thin-webfont.eot?#iefix) format('embedded-opentype'),
  url(fonts/gloriola_display_thin-webfont.woff) format('woff'),
  url(fonts/gloriola_display_thin-webfont.ttf) format('truetype'),
  url(fonts/gloriola_display_thin-webfont.svg) format('svg');
}
@font-face {
  font-family: "Gloriollight";
  src: url(fonts/gloriola_std_light-webfont.eot);
  src: url(fonts/gloriola_std_light-webfont.eot?#iefix) format('embedded-opentype'),
  url(fonts/gloriola_std_light-webfont.woff) format('woff'),
  url(fonts/gloriola_std_light-webfont.ttf) format('truetype'),
  url(fonts/gloriola_std_light-webfont.svg) format('svg');
}
