html,body{
	background:#f2f2f2;
	margin:0;
	padding:0;
	font-size:5px;
	font-family:"GloriolaStd";
}
.header{
    max-width:1100px;
    width:100%;
	height:580px;
	background: url('img/fon.jpg') no-repeat 80% 50%;
    margin:0 auto;
}
.top-menu{
	height:80px;
	border-bottom:1px solid white;
}
.top-banner{
	background:url('img/mashina.jpg') no-repeat;
	height:500px;
	padding-left:50px;
	position:relative;
}
.img-logo{
	float: left;
	margin: 25px 0 0 50px;
}
ul{
	margin:0;
	line-height:80px;
	float: right;
        padding: 0;
}
li{
	display:inline-block;
	height:100%;
	position:relative;
	padding: 0 20px;
}
.top-menu ul li a{
    font-size: 2.4rem;
}
a{
	color:white;
	text-decoration:none;
}

.top-banner-block{
	width:100%;
	color:white;
	height:100%;
	float:left;
}
.top-banner-text{
	width:500px;
}
.top-banner-block .top-banner-text p{
	font-size:4.8rem;
	margin-bottom:10px;
	font-family:"GloriolaStd";
}
.top-banner-title{
	font-size:30rem;
	margin:50px 0 0 0;	
	font-family:"Gloriolthin";
}
.link-block a{
	background:#AAA;
	padding: 10px;
	font-size:2.4rem;
	width:100px;
	text-align:center;
	font-weight:bold;
	display:block;
	color : white;
}
.top-banner-logo{
	position:absolute;
	left:890px;
	top:370px;
}
.unvisible-menu{
	position:absolute;
	left:30px;
	top:48px;
	width:230px;
	z-index:10;
	background:white;
	overflow:hidden;
	border:1px solid #DDD;
	display:none;
	box-shadow: 0 8px 10px 2px rgb(113, 118, 113);
}
.unvisible-menu ul{
	text-align:left;
	color:black;
	width:90%;
	padding:5px 10px;
	list-style:none;
	line-height:20px;	

}
.unvisible-menu li{
	width:100%;
	border-top:1px dotted;
	padding:7px 0 0;
	margin-top:5px;
} 
.unvisible-menu li:last-child {
	border-bottom:1px dotted;
	padding-bottom:5px;
}

.unvisible-menu li a{
	color:black;
}
li:hover .unvisible-menu{
	display:block;
}
.unvisible-menu li:hover a{
	color:rgb(154,195,218);
	background:rgb(238,237,237);
	display:inline-block;
	width:100%;
}
.activ{
	color:black;
}
.text-bold{
	font-weight:bold;
}
.left-border{
	border-left:1px solid white;
}
.content{
	padding:0 50px;
	min-height:40px;
	font-family:"Gloriollight";
}
.content-clarification{
	margin:0 0 20px;
	background:white;
	width:100%;
	height:80px;
}
.clarification-text{
	width:380px;
	font-size:2.5rem;
	display:inline-block;
	vertical-align:bottom;
	margin-right:40px;
}
.clarification-title{
	display:inline-block;
	width:300px;
	color:#6ba2c7;
	font-size:7rem;
	margin:15px 50px 0 50px;
	vertical-align:bottom;
}
.display-inline-block{
	display:inline-block;
}
.content-package{
	width:100%;
}
.package-block{
	background:white;
	width:calc(50% - 10px);
	display:inline-block;
	vertical-align:top;
	margin-bottom:20px;

}
.package-block:nth-child(2n){
    margin-left: 18px;
}
.half-block{
	width:49%;
	display:inline-block;
	overflow:hidden;
	vertical-align:top;
	box-sizing: border-box;
}
.package-title{
	font-size:5rem;
	color:#6ba2c7;
	width:80%;
	display:inline-block;
}
.package-text{
	width:80%;
	font-size:2.5rem;
	display:inline-block;
}
.content-package a,.contact-block a{
	color:#6ba2c7;
	font-size:2.4rem;
	text-decoration:underline;
}
.silka{
	margin-left:25px;
	margin-right:5px;
    background: url("img/strelka.png") no-repeat 100% 65%;
    padding: 0 10px 0 0;
}
.contact-block .package-block{
	height:170px;
	text-align:center;
}
.contact-block a{ text-decoration:none;}
.contact-block .link-block a{
	width: 100px;
	color: white;
	text-decoration: none;
	margin: 25px auto 0;
}
.content-package .package-title{
	margin: 60px 0 15px 25px;
	text-align:left;
}
.contact-block .package-title{
	margin: 40px 0 0 0;
	width:100%;
}
.content-package .package-text{
	text-align:left;
	margin: 0 0 30px 25px;
}
.contact-block .package-text{
	width:80%;
}
.margin-top-25px{
	margin-top:25px;
}
.before-footer{
    margin: 5px 0;
}
.before-footer-navigation{
    background: #808388;
    display:inline-block;
    padding:15px;
    height: 110px;
    width: 205px;
    vertical-align: bottom;
    margin-left: 18px;
    color:white;
    font-size: 4rem;
}
.before-footer-navigation:first-child{
    margin-left: 0;
}
.before-height{
    height:65px;
}
.link a {
    background: url("img/white-strelka.png") no-repeat 100% 65%;
    padding: 0 15px 0 0;
}
.before-footer-navigation input[type="submit"]{
    background: #808388 url("img/white-strelka.png") no-repeat 100% 65%;
    padding-right:15px;
    color:white;
    border:0;
    cursor: pointer;
    margin-left: calc(100% - 60px);
}
.before-footer-navigation input[type="text"]{
    background: #808388;
    color:white;
    border:1px solid white;
    padding:5px;
    width:100%;
    margin-bottom:5px;
}
.font-size-2-6rem {
    font-size:2.6rem;
}
.footer{
    margin: 25px 0;
    color:#787d83;
    font-size: 2.2rem;
    text-align: center;
}
.footer a{
    color:#787d83;
    padding-right: 5px;
    margin-left: 5px;
    border-right: 1px solid #787d83;
}
.footer a:last-child{
    border:0;
}
.wrapper{
    width:1100px;
    margin:0 auto;
}
.menu-buttom{
    display:none;
}
.y768{
    display:none;
}
.font-size-20px{
    font-size: 20px;
}
.close-menu{
    left:270px;
    width:70%;
    height:100%;
    position:fixed;
    z-index:3;
    background:url("img/X.png") no-repeat 20px 20px;
    cursor:pointer;
    display:none;
}
.mirage{
    display: none;
    background: #808080 none repeat scroll 0 0;
    z-index: 2;
    height: 100%;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
}



@media screen and (max-width: 1099px) {
   .wrapper{
       width:768px;
   }
    .header{
        height:520px;
    }
    .top-menu{
        height:70px;
    }
    .menu-buttom{
        display: block;
        margin: 26px 25px 0 30px;
        float: left;
    }
    .img-logo{
        margin-left: 0;
    }
    .menu-gorizont{
        display:none;
    }
    .top-banner{
        background:url('img/mashina2.jpg') no-repeat;
        height:450px;
        padding-left: 30px;
        background-size: cover;
    }
    .top-banner-title{
        font-size:20rem;
    }
    .top-banner-text{
        font-size:3rem;
    }
    .top-banner-logo{
        left: auto;
        top: 305px;
        right:50px;
    }
    .link-block a{
        padding:7px;
    }
    .y768{
        display:block;
    }
    .no768{
        display:none;
    }
    .content{
        padding:0 30px;
    }
    .content-clarification{
       height:95px;
    }
    .clarification-text{
        width:320px;
        margin-right:0;
    }
    .clarification-title{
        margin:35px 20px 0 30px;
    }
    .before-footer-navigation{
        width: calc(50% - 40px);
        margin-left: 18px;
        margin-bottom:20px;
        padding:15px 0 10px 30px;
    }
    .before-footer-navigation:nth-child(2n+1){
        margin-left: 0;
    }
    .before-footer-navigation input[type="text"]{
        width:60%;
        margin:0 10px 0 0;
    }
    .before-footer-navigation input[type="submit"]{
        margin:0;
    }
    .half-block:nth-child(2n){
        width:59%;
    }
    .half-block:nth-child(2n+1){
        width:40%;
    }
    .half-block{
        height:175px;
    }
    .half-block img{
        height: 100%;
    }
    .half-block .package-title{
         margin:10px 0 10px 10px;
        font-size: 4rem;
    }
    .half-block .package-text{
        margin:0 0 20px 10px;
        font-size:2.4rem;
    }
    .half-block .silka{
        margin:0 0 0 10px;
    }
    .package-block .margin-top-25px{
        margin-top:10px;
    }
    .contact-block .package-block .package-text{
        font-size: 3rem;
    }
    .unvisible-menu{
        position:static;
        min-height:100px;
        width:100%;
        border:0;
        box-shadow:0 0 0 0;
    }
    .unvisible-menu li:hover a {
        background: transparent;
        color:black;
    }
    li:hover .unvisible-menu{
        display:none;
    }
    .top-menu>ul{
        background:white;
        width:270px;
        height:100%;
        z-index: 3;
        display:none;
        position:fixed;
        line-height:55px;
        left:0;
        top:0;
        overflow-x: scroll;
    }
    .top-menu ul li{
        display :block;
        height :auto;
        border-bottom: 1px solid #f2f2f2;
    }
    .top-menu ul li a{
        color:black;
       font-weight: normal;
    }
    .unvisible-menu ul {
        padding:0;
        width:100%;
        line-height:50px;
        display: block;
    }
    .unvisible-menu li {
        display:block;
        height:auto;
        border-top:1px solid #f2f2f2;
        background:#f5f5f5;
        margin:0;
        padding:0 0 0 20px;
    }
    .unvisible-menu li:last-child {
        border-bottom: 0;
    }
    .vip{
        padding:0;
        background: url('img/v.png') no-repeat 90% 25px;
    }
    .vip a{
        margin-left:20px;
    }
    .display-block,.top-menu .display-block,.top-menu li .display-block{
        display: block;
    }
    .down{
        background: url('img/w.png') no-repeat 90% 25px;
    }
}
